/* Julia Jansen
 * Data Processing
 * d3 Line
 */ 

div
{
	font-family: helvetica;
	text-align: center;
}

div.tooltip 
{   
  position: absolute;           
  text-align: center;           
  width: 60px;                  
  height: 45px;                 
  padding: 2px;             
  font: 12px helvetica;      
  background: #c6ecd9;   
  opacity: 0.9;
  border: 2px;  
  border-color: #000;    
  border-radius: 2px;           
  pointer-events: none;         
}

.svg text
{
	font: 10px helvetica;
}

.footer
{
	font-size: 14px;
	text-align: right;
	font-style: italic;
}

.svg 
{
	fill: none;
  	stroke: #fff;
  	stroke-width: 1px;
}

/* stylize axis */
.axis text 
{
  fill: black;
  font: 9px sans-serif;
}

.axis path
{
	fill: none;
  	stroke: #404040;
  	shape-rendering: crispEdges;
}

.axis line 
{
  fill: none;
  stroke: #404040;
  shape-rendering: crispEdges;
  visibility: hidden;
}

.circle
{
	fill: #ffffff;
	stroke-width: 1.5px;
}

.overlay 
{
    fill: none;
    stroke: none;
    pointer-events: all;
}

.focusLine 
{
    fill: none;
    stroke: #8c8c8c;
    stroke-width: 0.8px;
}

.focusCircle 
{
	fill: #ff4d4d;
	stroke: #1a1a1a;
	stroke-width: 1px;
}

.x.axis path 
{
  display: visible;
}

.line 
{
  fill: none;
  stroke: #1b9e77;
  stroke-width: 1.5px;
}

.menu
{
	font-family: helvetica;
	font-size: 10pt;
	margin-bottom:0px;
	fill: #231F20; 
}

#cIRN,
#IRN
{
	stroke: #d95f02;
}

#cNLD,
#NLD
{
	stroke: #1b9e77;
}

#source
{
	font-size: 10px;
}

#subtitle
{
	font-size: 18px;
}

#title
{
	font-size: 20px helvetica;
	font-weight: bold;
}