/*
 * Julia Jansen
 * Data Processing week 2
 * css svg map
 *
 */

 p
 {
 	font-size: 20px;
   text-align: 100px;
 	font-family: helvetica;
 }

.circlexx
{
   opacity:0;
   fill:#e0e0e0;
   stroke:#000000;
   stroke-width:0.5;
}

/*
 * Smaller circles around French DOMs and Chinese SARs
 *
 * Change opacity to 1 to display all subnational circles.
 *
 */
.subxx
{
   opacity:0;
   stroke-width:0.3;
}

/*
 * Circles around small, unrecognized countries
 *
 * Change opacity to 1 to display all circles.
 *
 */
.unxx
{
   opacity:0;
   fill:#e0e0e0;
   stroke:#000000;
   stroke-width:0.3;
}

/*
 * Circles around small countries, but with no permanent residents 
 *
 * Change opacity to 1 to display all circles.
 *
 */
.noxx
{
   opacity:0;
   fill:#e0e0e0;
   stroke:#000000;
   stroke-width:0.5;
}

/*
 * land
 */
.landxx
{
   fill: #e0e0e0;
   stroke:#ffffff;
   stroke-width:0.5;
   fill-rule:evenodd;
}

/*
 * Styles for coastlines of islands with no borders
 */
.coastxx
{
   fill: #e0e0e0;
   stroke:#ffffff;
   stroke-width:0.3;
   fill-rule:evenodd;
}

/*
 * Styles for nations with limited recognition
 */
.limitxx
{
   fill: #e0e0e0;
   stroke:#ffffff;
   stroke-width:0;
   fill-rule:evenodd;
}

/*
 * Styles for nations with no permanent population.
 */
.antxx
{
   fill: #e0e0e0;
   stroke:#ffffff;
   stroke-width:0;
   fill-rule:evenodd;
}

/*
 * Ocean
 */
.oceanxx
{
   opacity: 0.1;
   color: #000000;
   fill: #ffffff;
   stroke:#000;
   stroke-width:0.5;
   stroke-miterlimit:1;
   z-index: -1;
}

/*
 * Styles for text underneath map
 */
.indent
{
   padding-left: 50px;
   padding-right: 150px;
}

.text_bottom
{
   font-size: 12px;
   font-family: verdana;
}

/*
 * Countries with high percentage urban population
 */
#high
{
   fill: #ec7014;
   stroke: #737373;
   stroke-width: 3;
   fill-opacity: 1;
   stroke-opacity: 0.9;
}

/*
 * Countries with higher percentage urban population
 */
#higher
{
   fill: #cc4c02;
   stroke: #737373;
   stroke-width: 3;
   fill-opacity: 1;
   stroke-opacity: 0.9;
}

/*
 * Countries with highest percentage urban population
 */
#highest
{
   fill: #8c2d04;
   stroke: #737373;
   stroke-width: 3;
   fill-opacity: 1;
   stroke-opacity: 0.9;
}

/*
 * legend style
 */
#legend
{
   fill: none;
   stroke: #737373;
   stroke-width: 3;
   stroke-opacity: 0.9;
}

/*
 * text in legend
 */
#legend_text
{
   font-family: verdana;
   font-size: 22px; 
   color: #737373;
}

/*
 * title in legend
 */
#legend_title
{
   font-family: verdana;
   font-size: 20px; 
   font-weight: bold;
   color: #737373;
}

/*
 * Countries with low percentage urban population
 */
#low
{
   fill: #fec44f;
   stroke: #737373;
   stroke-width: 3;
   fill-opacity: 1;
   stroke-opacity: 0.9;
}

/*
 * Countries with lower percentage urban population
 */
#lower
{
   fill: #fee391;
   stroke: #737373;
   stroke-width: 3;
   fill-opacity: 1;
   stroke-opacity: 0.9;
}

/*
 * Countries with lowwest percentage urban population
 */
#lowest
{
   fill: #ffffd4;
   stroke: #737373;
   stroke-width: 3;
   fill-opacity: 1;
   stroke-opacity: 0.9;
}

/*
 * Countries with 'middle' percentage urban population
 */
#middle
{
   fill: #fe9929;
   stroke: #737373;
   stroke-width: 3;
   fill-opacity: 1;
   stroke-opacity: 0.9;
}

/*
 * Countries with missing data
 */
#missing
{
   fill: #e0e0e0;
   stroke: #737373;
   stroke-width: 3;
   fill-opacity: 1;
   fill-opacity: 1;
}

/*
 * Title of bottom text
 */
#title_bottom
{
   font-weight: bold;
}

/*
 * Visualisation title
 */
#title
{
   padding-left: 250px;
   font-weight: bold;
}

